
// ------------------------------------------------------------- VIEW

.cf-view {
    background: $white;
    overflow: hidden;
    min-height: 100%;
    max-height: calc(100vh - #{$cf-navigation-height});

    @include breakpoint(map-get($breakpoints, mobile)) {
        border-radius: ($global--border-radius * 3);
        height: 80vh;
        position: relative;
    }

    &--full-map {
        @include breakpoint(max-width map-get($breakpoints, mobile)) {
            .cf-map {
                height: calc(100% - #{$cf-navigation-height});
            }
        }
    }

    &--list {
        overflow-y: scroll;
    }
}
