
// ------------------------------------------------------------- CONTAINER

.cf-container {
    max-width: $layout--container-max-width;
    margin: 0 auto;

    @include breakpoint(map-get($breakpoints, mobile)) {
        padding: 0 1em 1em;
    }
}
