
// ------------------------------------------------------------- VIEW

.cf-view {
    background: $white;
    position: relative;
    overflow: hidden;
    min-height: 100%;
    // min-height: 100vh;

    @include breakpoint(map-get($breakpoints, mobile)) {
        border-radius: ($global--border-radius * 3);
        min-height: 80vh;
    }
}
