
// ------------------------------------------------------------- CAMPFIRE INFO

.cf-campfire-info {
    border-bottom: 1px solid $global--border-color;
    display: flex;
    align-items: center;
    cursor: pointer;

    $this: &;

    &__image,
    &__data {
        padding: 1em;
    }

    &__data {
        &__divider {
            width: 1em;
            margin: .5em auto;
            height: 2px;
            background: rgba($black, .2);
        } 
    }
    
    h2 {
        font-size: 1rem;
        font-weight: normal;
        color: rgba($black, .9);
        display: block;
        margin-bottom: .3em;
    }

    small {
        font-size: .9rem;
        opacity: .8;
    }

    &:hover {
        background: $cf-accent-color;
    }

    &:last-child {
        border-bottom: 0;
    }

    // ------------------------------------------------------------- DETAIL/BUSINESS

    &--detail,
    &--business {
        flex-direction: column;
        height: 100%;
        cursor: default;
        width: 100%;
        align-items: flex-start;
        position: relative;

        h2 {
            font-weight: bold; 
        }

        #{$this}__data {
            padding: 1em;
            width: 100%;
        }

        .cf-button {
            margin-top: auto;
        }

        &:hover {
            background: none;
        }
    }

    // ------------------------------------------------------------- DETAIL

    &--detail {
        h2 {
            font-weight: bold; 

            + p {
                margin-bottom: 1em;
            }
        }
    }

    // ------------------------------------------------------------- BUSINESS

    &--business {
        text-align: center;
        padding-top: 2.5em;

        #{$this}__image {
            padding: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, calc(-50% - 3.5em)); // cf-details__detail padding + cf-detail--business padding-top
        }
    }
}
