
// ------------------------------------------------------------- BACK

.cf-back {
    background: $cf-color;
    display: flex;
    align-items: center;
    padding: .75em;
    height: $cf-navigation-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    svg {
        stroke: $white;
    }

    p {
        color: $white;
        margin-left: .25em;
        font-size: 1.125rem;
    }
}
