
// ------------------------------------------------------------- BUTTON

.cf-button {
    background: $cf-color;
    color: $white;
    width: 100%;
    border-radius: 3px;
    display: block;
    text-align: center;
    padding: .75em;
    font-weight: bold;
}
