
// ------------------------------------------------------------- ROUND IMAGE

@mixin cf-rounded($size) {
    width: $size;
    height: $size;
    border-radius: $size;
}

.cf-round-image {
    @include cf-rounded($cf-round-image-size);

    &.--large {
        @include cf-rounded($cf-round-image-size--large);
    }

    &.--medium {
        @include cf-rounded($cf-round-image-size--medium);
    }

    &.--shadow {
        box-shadow: 0 0 10px #0000006e;
        border: 1px solid white;
    }
}
