
.cf-detail {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 63px);

    @include breakpoint(map-get($breakpoints, mobile)) {
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }

    &__map {
        height: auto;
        flex: 1;
        position: relative;
    }    

    &__details {
        flex: 0 0 auto;
        padding: 1em;
    }
}
