
// ------------------------------------------------------------- CTA BAR

.cf-cta-bar {
    background: $white;
    border-top: 1px solid $global--border-color;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    display: flex;
    cursor: pointer;
    padding: .6em .5em;

    img {
        display: inline-block;
        vertical-align: middle;
        max-width: 1.25em;
        margin-right: .5em;
    }
    
    p {
        display: inline-block;
        margin: 0;
    }

    &__content {
        width: 100%;
        text-align: center;
    }

    &__icon {
        margin-left: auto;
        
        svg {
            display: block;
            opacity: .5;
        }
    }

    &:hover {
        background: $cf-accent-color;
    }
}