
// ------------------------------------------------------------- CAMPFIRE INFO

.cf-campfire-info {
    border-bottom: 1px solid $global--border-color;
    display: flex;
    align-items: center;
    cursor: pointer;

    $this: &;

    &__image,
    &__data {
        padding: 1em;
    }
    
    h2 {
        font-size: 1rem;
        font-weight: normal;
        color: darken($type--base-text-color, 20%);
        display: block;
        margin-bottom: .3em;
        font-weight: bold;        
    }

    &:hover {
        background: $cf-accent-color;
    }

    &:last-child {
        border-bottom: 0;
    }

    // ------------------------------------------------------------- DETAIL

    &--detail {
        flex-direction: column;
        height: 100%;
        cursor: default;
        width: 100%;
        align-items: flex-start;
        position: relative;

        #{$this}__data {
            padding: 1em;
            width: 100%;
        }

        #{$this}__image {
            padding: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%, calc(-50% - 1em));
        }

        h2 + p {
            margin-bottom: 1em;
        }

        .cf-button {
            margin-top: auto;
        }

        &:hover {
            background: none;
        }
    }
}
