
// ------------------------------------------------------------- DIVIDER

.cf-list-divider {
    background: $cf-accent-color;
    padding: .4em;
    text-align: center;
    border-top: 1px solid $global--border-color;
    border-bottom: 1px solid $global--border-color;
}
