
// ------------------------------------------------------------- BACK

.cf-back {
    background: $cf-color;
    display: flex;
    align-items: center;
    padding: .75em;

    svg {
        stroke: $white;
    }

    p {
        color: $white;
        margin-left: .25em;
    }
}
