
// ------------------------------------------------------------- BACK

.cf-back {
    background: $cf-color;
    display: flex;
    align-items: center;
    padding: .75em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $cf-navigation-height-mobile;
    z-index: 1;
    
    @include breakpoint(map-get($breakpoints, mobile)) {
        height: $cf-navigation-height;
        position: relative;
        background: transparent;
        padding: 0;
    }

    svg {
        stroke: $white;
    }

    p {
        color: $white;
        margin-left: .25em;
        font-size: 1.125rem;
    }
}
