/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: none;
}

button {
  -webkit-appearance: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

*.disabled,
*[disabled] {
  opacity: .5;
  pointer-events: none;
}

hr {
  margin: 0;
  padding: 0;
  display: block;
  height: 1px;
  border: 0;
}

p {
  letter-spacing: normal;
}

p,
a,
label {
  font-size: 1rem;
}

a {
  color: #ffa001;
  cursor: pointer;
  font-weight: normal;
  text-decoration: none;
}

a p, a h1, a h2, a h3, a h4, a h5, a h6 {
  color: #6f6f6f;
}

small {
  font-size: .7rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: normal;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #6f6f6f;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  background: linear-gradient(45deg, #ffc667, #ffa001);
}

body,
html {
  min-height: 100%;
  height: 100%;
}

.cf-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
}

.cf-navigation > * {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cf-navigation__options {
  margin-left: auto;
}

.cf-navigation__option {
  opacity: .5;
}

.cf-navigation__option svg {
  width: 1.5em;
  height: 1.5em;
}

.cf-navigation__option a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: .5em;
  padding: .5em;
}

.cf-navigation__option:hover {
  opacity: 1;
}

.cf-navigation__option.--active {
  opacity: 1;
}

.cf-container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  .cf-container {
    padding: 0 1em 1em;
  }
}

.cf-view {
  background: #ffffff;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

@media (min-width: 769px) {
  .cf-view {
    border-radius: 12px;
    min-height: 80vh;
  }
}

.cf-campfire-info {
  border-bottom: 1px solid #d8d8d8;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.cf-campfire-info__image, .cf-campfire-info__data {
  padding: 1em;
}

.cf-campfire-info h2 {
  font-size: 1rem;
  font-weight: normal;
  color: #3c3c3c;
  display: block;
  margin-bottom: .3em;
  font-weight: bold;
}

.cf-campfire-info:hover {
  background: #f6f6f6;
}

.cf-campfire-info:last-child {
  border-bottom: 0;
}

.cf-campfire-info--detail {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  cursor: default;
  width: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.cf-campfire-info--detail .cf-campfire-info__data {
  padding: 1em;
}

.cf-campfire-info--detail .cf-campfire-info__image {
  padding: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.cf-campfire-info--detail h2 + p {
  margin-bottom: 1em;
}

.cf-campfire-info--detail .cf-button {
  margin-top: auto;
}

.cf-campfire-info--detail:hover {
  background: none;
}

.cf-list-divider {
  background: #f6f6f6;
  padding: .4em;
  text-align: center;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.cf-button-round {
  background: #ffffff;
  border-radius: 3em;
  height: 3em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 3em;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cf-button-round svg {
  stroke: rgba(0, 0, 0, 0.25);
}

.cf-button-round--left {
  left: 1em;
}

.cf-button-round--left svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cf-button-round--right {
  right: 1em;
}

.cf-round-image {
  width: 3em;
  height: 3em;
  border-radius: 3em;
}

.cf-round-image.--large {
  width: 11em;
  height: 11em;
  border-radius: 11em;
}

.cf-round-image.--shadow {
  -webkit-box-shadow: 0 0 10px #0000006e;
          box-shadow: 0 0 10px #0000006e;
  border: 1px solid white;
}

.cf-campfire-data-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cf-campfire-data-row svg {
  width: .9em;
  height: .9em;
  display: block;
  opacity: .5;
}

.cf-campfire-data-row__icon {
  width: 1.5em;
}

.cf-campfire-data-row p {
  font-size: .9rem;
}

.cf-popover {
  position: fixed;
  left: 0;
  z-index: 1;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cf-popover__content {
  width: 80%;
  max-width: 300px;
  border-radius: 12px;
  z-index: 2;
  text-align: center;
  background: #ffffff;
  padding: 1em;
  position: relative;
  margin: 0 auto;
}

.cf-popover__content .cf-round-image {
  margin: 2em 0 1em;
  display: inline-block;
}

.cf-popover__content h2 {
  margin-bottom: .5em;
}

.cf-popover__close {
  position: absolute;
  right: 1em;
  top: 1em;
}

.cf-popover a {
  margin: 1.5em auto 1em;
  display: block;
}

.cf-popover small {
  opacity: .75;
}

.cf-cta-bar {
  background: #ffffff;
  border-top: 1px solid #d8d8d8;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: .6em .5em;
}

.cf-cta-bar img {
  display: inline-block;
  vertical-align: middle;
  max-width: 1.25em;
  margin-right: .5em;
}

.cf-cta-bar p {
  display: inline-block;
  margin: 0;
}

.cf-cta-bar__content {
  width: 100%;
  text-align: center;
}

.cf-cta-bar__icon {
  margin-left: auto;
}

.cf-cta-bar__icon svg {
  display: block;
  opacity: .5;
}

.cf-cta-bar:hover {
  background: #f6f6f6;
}

.cf-warning {
  padding: .5em 1em;
  text-align: center;
  background: #fbf38d;
  border-bottom: 1px solid #f8e92a;
}

.cf-warning p {
  font-size: .85rem;
  line-height: 1.5;
}

.cf-button {
  background: #ffa001;
  color: #ffffff;
  width: 100%;
  border-radius: 3px;
  display: block;
  text-align: center;
  padding: .75em;
  font-weight: bold;
}

.cf-detail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 63px);
}

.cf-detail__map {
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.cf-detail__map .cf-map {
  width: 100%;
}

.cf-detail__details {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 1em;
}

.cf-back {
  background: linear-gradient(45deg, #ffc667, #ffa001);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .75em;
}

.cf-back svg {
  stroke: #ffffff;
}

.cf-back p {
  color: #ffffff;
  margin-left: .25em;
}

.cf-map {
  height: 100%;
  position: absolute;
}

@media (min-width: 769px) {
  .cf-map {
    border-radius: 12px;
    height: calc(100% - 6px);
    margin-left: 3px;
    margin-top: 3px;
    overflow: hidden;
    position: absolute;
    width: calc(100% - 6px);
  }
}
